.header {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;
}

.header__navigation-button {
  display: none;
}

@media (max-width: 768px) {
    .header__navigation-button {
      display: block;
      line-height: 0;
      background-color: transparent;
      border: none;
    }

    .header__navigation {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    .header__navigation_open {
      transform: translateY(100%);
    }
}